{% load i18n %}
{% load sentry_helpers %}

<div id="request" class="module">
    <div class="page-header">
        <a href="{% url sentry-replay event.project_id event.id %}" class="btn small pull-right">{% trans "Replay this request" %}</a>
        <h2>{% trans "Request" %}</h2>
    </div>
    <div class="module-content">
        <table class="table table-bordered table-striped">
            <colgroup>
                <col style="width:60px;">
            </colgroup>
            <tbody>
                <tr>
                    <th>{% trans "URL Path:" %}</th>
                    <td><a href="{{ url_path }}{% if query_string %}?{{ query_string }}{% endif %}">{{ url_path }}</a></td>
                </tr>
                {% if method %}
                    <tr>
                        <th>{% trans "Method:" %}</th>
                        <td>{{ method }}</td>
                    </tr>
                {% endif %}
                <tr>
                    <th>{% trans "Query String:" %}</th>
                    <td>
                        <code>{{ query_string|pprint }}</code>
                    </td>
                </tr>
				{% if url %}
                    <tr>
                        <th>{% trans "URL Scope:" %}</th>
                        <td>
                                {% if url|length > 5 %}
                                    <a href="#" onclick="return varToggle(this, 'HttpURL')"><span>&#x25b6;</span> {% trans "URL" %}</a>
                                {% endif %}
                                <table class="table vars" id="vHttpURL"{% if url|length > 5 %} style="display:none;"{% endif %}>
                                    <colgroup>
                                        <col style="width:100px;">
                                    </colgroup>
                                    <tbody>
                                        {% for key, value in url.iteritems|as_sorted %}
                                            <tr>
                                                <td>{{ key|to_str }}</td>
                                                <td class="code"><pre>{{ value|pprint }}</pre></td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                        </td>
                    </tr>
                {% endif %}
                {% if form %}
                    <tr>
                        <th>{% trans "Form Scope:" %}</th>
                        <td>
                            {% if form|length > 5 %}
                                <a href="#" onclick="return varToggle(this, 'HttpForm')"><span>&#x25b6;</span> {% trans "Form" %}</a>
                            {% endif %}
                            <table class="table vars" id="vHttpForm"{% if form|length > 5 %} style="display:none;"{% endif %}>
                                <colgroup>
                                    <col style="width:100px;">
                                </colgroup>
                                <tbody>
                                    {% for key, value in form.iteritems|as_sorted %}
                                        <tr>
                                            <td>{{ key }}</td>
                                            <td class="code"><pre>{{ value|pprint }}</pre></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </td>
                    </tr>
                {% endif %}
                {% if cookies %}
                    <tr>
                        <th>{% trans "Cookie Scope:" %}</th>
                        <td>
                            {% if cookies|length > 5 %}
                                <a href="#" onclick="return varToggle(this, 'HttpCookies')"><span>&#x25b6;</span> {% trans "Cookies" %}</a>
                            {% endif %}
                            <table class="table vars" id="vHttpCookies"{% if cookies|length > 5 %} style="display:none;"{% endif %}>
                                <colgroup>
                                    <col style="width:100px;">
                                </colgroup>
                                <tbody>
                                    {% for key, value in cookies.iteritems|as_sorted %}
                                        <tr>
                                            <td>{{ key|to_str }}</td>
                                            <td class="code"><pre>{{ value|pprint }}</pre></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </td>
                    </tr>
                {% endif %}
				{% if sessions %}
                    <tr>
                        <th>{% trans "Session Scope:" %}</th>
                        <td>
                            {% if sessions|length > 5 %}
                                <a href="#" onclick="return varToggle(this, 'HttpSessions')"><span>&#x25b6;</span> {% trans "Sessions" %}</a>
                            {% endif %}
                            <table class="table vars" id="vHttpSessions"{% if sessions|length > 5 %} style="display:none;"{% endif %}>
                                <colgroup>
                                    <col style="width:100px;">
                                </colgroup>
                                <tbody>
                                    {% for key, value in sessions.iteritems|as_sorted %}
                                        <tr>
                                            <td>{{ key|to_str }}</td>
                                            <td class="code"><pre>{{ value|pprint }}</pre></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </td>
                    </tr>
                {% endif %}
				{% if application %}
                    <tr>
                        <th>{% trans "Application Scope:" %}</th>
                        <td>
                            {% if application|length > 5 %}
                                <a href="#" onclick="return varToggle(this, 'HttpApplication')"><span>&#x25b6;</span> {% trans "Application" %}</a>
                            {% endif %}
                            <table class="table vars" id="vHttpApplication"{% if application|length > 5 %} style="display:none;"{% endif %}>
                                <colgroup>
                                    <col style="width:100px;">
                                </colgroup>
                                <tbody>
                                    {% for key, value in application.iteritems|as_sorted %}
                                        <tr>
                                            <td>{{ key|to_str }}</td>
                                            <td class="code"><pre>{{ value|pprint }}</pre></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </td>
                    </tr>
                {% endif %}
				{% if cgi %}
                    <tr>
                        <th>{% trans "CGI Scope:" %}</th>
                        <td>
                            {% if cgi|length > 5 %}
                                <a href="#" onclick="return varToggle(this, 'HttpCGI')"><span>&#x25b6;</span> {% trans "CGI" %}</a>
                            {% endif %}
                            <table class="table vars" id="vHttpCGI"{% if env|length > 5 %} style="display:none;"{% endif %}>
                                <colgroup>
                                    <col style="width:120px;">
                                </colgroup>
                                <tbody>
                                    {% for key, value in cgi.iteritems|as_sorted %}
                                        <tr>
                                            <td>{{ key }}</td>
                                            <td class="code"><pre>{{ value|pprint }}</pre></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </td>
                    </tr>
                {% endif %}
                {% if headers %}
                    <tr>
                        <th>{% trans "Headers:" %}</th>
                        <td>
                            {% if headers|length > 5 %}
                                <a href="#" onclick="return varToggle(this, 'HttpHeaders')"><span>&#x25b6;</span> {% trans "Headers" %}</a>
                            {% endif %}
                            <table class="table vars" id="vHttpHeaders"{% if headers|length > 5 %} style="display:none;"{% endif %}>
                                <colgroup>
                                    <col style="width:100px;">
                                </colgroup>
                                <tbody>
                                    {% for key, value in headers.iteritems|as_sorted %}
                                        <tr>
                                            <td>{{ key }}</td>
                                            <td class="code"><pre>{{ value|pprint }}</pre></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>

